@{
    ViewData["Title"] = "Home Page";
}
    <div class="demo-section k-content">
        <div><h1>Operator</h1></div>

        @(Html.Kendo().Button()
                                .Name("logButton")
                                .HtmlAttributes(new { type = "button", @class = "k-primary" })
                                .Content("Log View")
                                .Events(e => e.Click("onClick_Logs")))

        <script>
            function onClick_Logs() {
                window.location = '@Url.Action("Index", "Log")';
            }
        </script>
    </div>
