@{
    IEnumerable<Pmviz_Frontend.Models.ActivityFreq> frequency = ViewData["Frequency"] as IEnumerable<Pmviz_Frontend.Models.ActivityFreq>;
    IEnumerable<Pmviz_Frontend.Models.ActivityFreq> median = ViewData["Median"] as IEnumerable<Pmviz_Frontend.Models.ActivityFreq>;
    IEnumerable<Pmviz_Frontend.Models.ActivityFreq> mean = ViewData["Mean"] as IEnumerable<Pmviz_Frontend.Models.ActivityFreq>;
}

@using Kendo.Mvc.UI
@{ Layout = "_Layout"; ViewBag.Title = "Activity Frequency Charts";}

<div class="box">
    <div class="box-col">
        <h4>Activity Frequency Charts</h4>
        <button class="btn btn-primary" id="frequencyButton" type="button">Frequency</button>
        <button class="btn btn-primary" id="medianButton" type="button">Median</button>
        <button class="btn btn-primary" id="meanButton" type="button">Mean</button>
    </div>
</div>

<div id="frequencyChart">
    @(Html.Kendo().Chart(frequency)
            .Name("chart")
            .Series(series =>
            {
                series.Column(a => a.Frequency).Name("Frequency").CategoryField("Activity");
            })
            .CategoryAxis(axis => axis
                .Labels(labels => labels.Rotation(-60))
                .MajorGridLines(lines => lines.Visible(false))
            )
            .ValueAxis(axis => axis.Title("Frequency"))
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Template("#= series.name #: #= value #")
        )
    )
</div>
<div id="medianChart">
    @(Html.Kendo().Chart(median)
        .Name("chart_median")
        .Series(series =>
        {
        series.Column(a => a.MedianInMinutes).Name("MedianInMinutes").CategoryField("Activity");
        })
        .CategoryAxis(axis => axis
            .Labels(labels => labels.Rotation(-60))
            .MajorGridLines(lines => lines.Visible(false))
        )
        .ValueAxis(axis => axis.Title("Median Duration"))
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Template("#= series.name #: #= value #")
        )
    )
</div>
<div id="meanChart">
    @(Html.Kendo().Chart(mean)
        .Name("chart_mean")
        .Series(series =>
        {
        series.Column(a => a.MeanInMinutes).Name("MeanInMinutes").CategoryField("Activity");
    })
        .CategoryAxis(axis => axis
            .Labels(labels => labels.Rotation(-60))
            .MajorGridLines(lines => lines.Visible(false))
        )
        .ValueAxis(axis => axis.Title("Mean Duration"))
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Template("#= series.name #: #= value #")
        )
    )
</div>



<script>
    $(document).ready(function () {
        var frequencyChart = document.getElementById("frequencyChart");
        var medianChart = document.getElementById("medianChart");
        var meanChart = document.getElementById("meanChart");
        var frequencyButton = document.getElementById("frequencyButton");
        var medianButton = document.getElementById("medianButton");
        var meanButton = document.getElementById("meanButton");

        medianChart.style.display = "none";
        meanChart.style.display = "none";
        frequencyButton.disabled = true;

        $("#frequencyButton").click(function () {
            frequencyButton.disabled = true;
            medianButton.disabled = false;
            meanButton.disabled = false;
            frequencyChart.style.display = "block";
            medianChart.style.display = "none";
            meanChart.style.display = "none";
        });

        $("#medianButton").click(function () {
            frequencyButton.disabled = false;
            medianButton.disabled = true;
            meanButton.disabled = false;
            frequencyChart.style.display = "none";
            medianChart.style.display = "block";
            meanChart.style.display = "none";
        });

        $("#meanButton").click(function () {
            frequencyButton.disabled = false;
            medianButton.disabled = false;
            meanButton.disabled = true;
            frequencyChart.style.display = "none";
            medianChart.style.display = "none";
            meanChart.style.display = "block";
        });
    });

</script>
