#controlFlow {
    display: grid;
}

#options {
    grid-area: 1 / 1 / span 2 / span 3;
}

#graphs {
    grid-area: 1 / 4 / span 6 / span 5;
}


/******** OPTIONS ********/

#listLogsActive > .input-field.col > label {
    left: 0;
    margin-top: 1.5%;
}

.range-field, .input-field {
    margin-top: 2%;
    margin-bottom: 0;
}

#logCompare, #logActive {
    border-bottom: 1px solid #9e9e9e;
    font-size: 16px;
    line-height: 3rem;
    margin-top: 0;
}

#dropCompare {
    width: 27.5%;
}

#filter1Compare > .chips, #filter2Compare > .chips, #filter5Compare > .chips {
    margin-top: 0;
    margin-bottom: 8px;
}

#filter3Compare {
    display: inline-block;
    width: 40%;
    margin-right: 7.5%;
}

#filter4Compare {
    display: inline-block;
    width: 40%;
    margin-left: 7.5%;
}

    #filter3Compare > .input-field.col, #filter4Compare > .input-field.col,
    #filter1Compare > .input-field.col, #filter2Compare > .input-field.col,
    #filter5Compare > .input-field.col {
        margin-top: 0;
    }

    #filter3Compare > .input-field .helper-text, #filter4Compare > .input-field .helper-text,
    #filter1Compare > .input-field .helper-text, #filter2Compare > .input-field .helper-text,
    #filter5Compare > .input-field .helper-text {
        min-height: 0;
        margin-bottom: 0;
    }


/******** BUTTONS ********/
#centerGC {
    position: relative;
    margin-top: 5%;
    float: right;
}


/******** GRAFOS ********/
#cyCompare {
    position: absolute;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 50%;
    height: 100%;
    border: 2px solid #186860;
    border-radius: 10px;
}


/******** LEGENDA ********/
#legendConformance {
    grid-area: 3 / 1 / 1 / span 3;
}





/**************************** MOBILE ********************************/

@media screen and (max-width : 992px) {
    .tabsCompare {
        margin-left: 2%;
    }

    #cyCompare {
        width: 60%;
    }

    #centerGC {
        margin-right: -3%;
    }

    #filter3Compare, #filter4Compare {
        width: 39%;
    }
}

@media screen and (max-width: 600px) {
    .tabsCompare {
        width: 97%;
    }

    #cyCompare {
        width: 95%;
    }

    #centerGC {
        margin-top: 4%;
        margin-right: 0;
    }

    #filter3Compare, #filter4Compare {
        width: 36%;
    }
}
