.dropdown-menu {
    overflow: auto !important;
    max-height: none !important;
}

.bootstrap-select .dropdown-toggle:after {
    padding: 0 !important;
    content: "" !important;
}

.datepicker-btn {
    max-height: 29.86px !important;
}

.rectangle {
    width: 100px;
    height: 30px;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    font-size: 14px;
    text-align: center;
}

.green {
    color: #00b33c;
    border-color: #00b33c;
}

.red {
    color: #ff0000;
    border-color: #ff0000;
}

.darkBlue {
    background-color: #365eff;
    color: #FFFFFF;
    border-color: #365eff;
}

.softBlue {
    background-color: #acbcff;
    color: #222222;
    border-color: #acbcff;
}

.darkRed {
    background-color: #FF5C5C;
    color: #FFFFFF;
    border-color: #FF5C5C;
}

.softRed {
    background-color: #FFB7B7;
    color: #222222;
    border-color: #FFB7B7;
}

.popover {
    max-width: 500px !important;
}

.green-rectangle-shape {
    left: 25px;
    top: 6.7px;
    height: 7px;
    position: relative;
    width: 50px;
    background-color: #00b33c;
}

.green-triangle-shape {
    position: relative;
    left: 25px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #00b33c;
    border-bottom: 10px solid transparent;
}

.red-rectangle-shape {
    height: 7px;
    position: relative;
    left: 25px;
    top: 6.7px;
    width: 50px;
    background-color: #ff0000;
}


.red-triangle-shape {
    width: 0;
    height: 0;
    position: relative;
    left: 25px;
    border-top: 10px solid transparent;
    border-left: 20px solid #ff0000;
    border-bottom: 10px solid transparent;
}

.darkBlue-triangle-shape {
    width: 0;
    height: 0;
    position: relative;
    left: 25px;
    border-top: 10px solid transparent;
    border-left: 20px solid #365eff;
    border-bottom: 10px solid transparent;
}

.darkRed-rectangle-shape {
    left: 25px;
    top: 6.7px;
    height: 7px;
    position: relative;
    width: 50px;
    background-color: #FF5C5C;
}

.darkRed-triangle-shape {
    width: 0;
    height: 0;
    position: relative;
    left: 25px;
    border-top: 10px solid transparent;
    border-left: 20px solid #FF5C5C;
    border-bottom: 10px solid transparent;
}

.darkBlue-rectangle-shape {
    left: 25px;
    top: 6.7px;
    height: 7px;
    position: relative;
    width: 50px;
    background-color: #365eff;
}

.softBlue-triangle-shape {
    width: 0;
    height: 0;
    position: relative;
    left: 25px;
    border-top: 10px solid transparent;
    border-left: 20px solid #acbcff;
    border-bottom: 10px solid transparent;
}

.softRed-rectangle-shape {
    left: 25px;
    top: 6.7px;
    height: 7px;
    position: relative;
    width: 50px;
    background-color: #FFB7B7;
}

.softRed-triangle-shape {
    width: 0;
    height: 0;
    position: relative;
    left: 25px;
    border-top: 10px solid transparent;
    border-left: 20px solid #FFB7B7;
    border-bottom: 10px solid transparent;
}

.softBlue-rectangle-shape {
    left: 25px;
    top: 6.7px;
    height: 7px;
    position: relative;
    width: 50px;
    background-color: #acbcff;
}

.card-conformance {
    margin-bottom: 7.2px !important;
}


/******** BUTTONS ********/
#centerGC {
    position: relative;
    margin-top: 5%;
    float: right;
}

/******** GRAFOS ********/
#cy {
    position: absolute;
    width: 95%;
    height: 94.5%;
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 0.75rem 6rem rgba(56,65,74,.03);
    margin-bottom: 24px;
    border-radius: .25rem;
}

#tip {
    margin-top: 25%;
    text-align: center;
    font-style: oblique;
    font-size: 30px;
}


/******** LEGENDA ********/
#legendConformance {
    grid-area: 3 / 1 / 1 / span 3;
}





/**************************** MOBILE ********************************/

@media screen and (max-width : 992px) {
    .tabsCompare {
        margin-left: 2%;
    }

    #cy {
        width: 100%;
    }

    #centerGC {
        margin-right: -3%;
    }

    #filter3Compare, #filter4Compare {
        width: 39%;
    }
}

@media screen and (max-width: 600px) {
    .tabsCompare {
        width: 97%;
    }

    #cy {
        width: 100%;
    }

    #centerGC {
        margin-top: 4%;
        margin-right: 0;
    }

    #filter3Compare, #filter4Compare {
        width: 36%;
    }
}
