#loader, #loaderCy {
    position: absolute;
    left: 55%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #b3b3b3;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@media (max-width: 768px) {
    .btn-responsive {
        padding: 2px 4px;
        font-size: 80%;
        line-height: 1;
        border-radius: 3px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .btn-responsive {
        padding: 4px 9px;
        font-size: 90%;
        line-height: 1.2;
    }
}
@media (min-width: 993px) and (max-width: 1976px) {
    .btn-responsive {
        padding: 4px 9px;
        font-size: 90%;
        line-height: 1.2;
    }
}

@media (max-width:769px) {
    #radioFormsA {
        max-height: 73% !important;
    }
}

@media(min-width: 770px) and (max-width:1141px) {
    #radioFormsA {
        max-height: 42% !important;
    }
}

@media(min-width: 1142px) and (max-width:1210px) {
    #radioFormsA {
        max-height: 48% !important;
    }
}
@media (max-width:757px) {
    #radioForms {
        max-height: 73% !important;
    }
}
@media(min-width: 758px) and (max-width:1210px) {
    #radioForms {
        max-height: 48% !important;
    }
}
@media(min-width: 1211px) and (max-width:1554px) {
    #radioForms, #radioFormsA {
        max-height: 57% !important;
    }
}

@media(min-width: 1355px) and (max-width:1593px) {
    #radioForms, #radioFormsA {
        max-height: 60% !important;
    }
}
@media(min-width: 1594px) and (max-width:1753px) {
    #radioForms, #radioFormsA {
        max-height: 68% !important;
    }
}

@media(min-width:1754px) {
    #radioForms {
        max-height: 73% !important;
    }
}


@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}
