@{
    IEnumerable<Pmviz_Frontend.Models.ActivityFreq> frequency = ViewData["Frequency"] as IEnumerable<Pmviz_Frontend.Models.ActivityFreq>;
    IEnumerable<Pmviz_Frontend.Models.ActivityFreq> median = ViewData["Median"] as IEnumerable<Pmviz_Frontend.Models.ActivityFreq>;
    IEnumerable<Pmviz_Frontend.Models.ActivityFreq> mean = ViewData["Mean"] as IEnumerable<Pmviz_Frontend.Models.ActivityFreq>;
}

@model IEnumerable<Pmviz_Frontend.Models.ActivityFreq>
@using Kendo.Mvc.UI
@{ Layout = "_LayoutBoot"; ViewBag.Title = "Activity Frequency";}

<div id="frequencyChart">
    @(Html.Kendo().Chart(frequency)
            .Name("chart")
            .Legend(l => l.Visible(false))
            .Series(series =>
            {
                series.Column(a => a.Frequency).Name("Frequency").CategoryField("Activity");
                series.Line(a => a.Frequency).Name("Frequency").Color("#4e4141");
            })
            .CategoryAxis(axis => axis
                .Labels(labels => labels.Rotation(-60))
                .MajorGridLines(lines => lines.Visible(false))
            )
            .ValueAxis(axis => axis
                .Labels(l => l.Visible(false))
                .Title("Frequency")
            )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Template("#= series.name #: #= value #")
        )
    )
</div>
<div id="medianChart">
    @(Html.Kendo().Chart(median)
        .Name("chart_median")
        .Legend(l => l.Visible(false))
        .Series(series =>
        {
            series.Column(a => a.MedianInMinutes).Name("MedianInMinutes").CategoryField("Activity");
        })
        .CategoryAxis(axis => axis
            .Labels(labels => labels.Rotation(-60))
            .MajorGridLines(lines => lines.Visible(false))
        )
        .ValueAxis(axis => axis
            .Labels(l => l.Visible(false))
            .Title("Median Duration")
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Template("#= dataItem.MedianActivityFormatted #")
        )
    )
</div>
<div id="meanChart">
    @(Html.Kendo().Chart(mean)
        .Name("chart_mean")
        .Legend(l => l.Visible(false))
        .Series(series =>
        {
        series.Column(a => a.MeanInMinutes).Name("MeanInMinutes").CategoryField("Activity");
    })
        .CategoryAxis(axis => axis
            .Labels(labels => labels.Rotation(-60))
            .MajorGridLines(lines => lines.Visible(false))
        )
        .ValueAxis(axis => axis
            .Labels(l => l.Visible(false))
            .Title("Mean Duration")
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Template("#= dataItem.MeanActivityFormatted #")
        )
    )
</div>

<div class="box">
    <div class="box-col">
        <h4>Charts</h4>
        <button class="k-button" id="frequencyButton" type="button">Frequency</button>
        <button class="k-button" id="medianButton" type="button">Median</button>
        <button class="k-button" id="meanButton" type="button">Mean</button>
    </div>
</div>
<br />

@(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(l => l.Frequency).Title("Frequency").Width(130);
        columns.Bound(l => l.MeanActivityFormatted).Title("Mean Duration").Width(130);
        columns.Bound(l => l.MedianActivityFormatted).Title("Median Duration").Width(130);
        columns.Bound(l => l.MinActivityFormatted).Title("Min Duration").Width(130);
        columns.Bound(l => l.MaxActivityFormatted).Title("Max Duration").Width(130);
        columns.Bound(l => l.Activity).Title("Activity").Width(130);
        columns.Bound(l => l.RelativeFrequency).Title("Relative Frequency").Width(130);
    })
    .Pageable()
    .Sortable()
    .Filterable()
    .Scrollable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
     )
)

<script>
    $(document).ready(function () {
        var frequencyChart = document.getElementById("frequencyChart");
        var medianChart = document.getElementById("medianChart");
        var meanChart = document.getElementById("meanChart");
        var frequencyButton = document.getElementById("frequencyButton");
        var medianButton = document.getElementById("medianButton");
        var meanButton = document.getElementById("meanButton");

        medianChart.style.display = "none";
        meanChart.style.display = "none";
        frequencyButton.disabled = true;

        $("#frequencyButton").click(function () {
            frequencyButton.disabled = true;
            medianButton.disabled = false;
            meanButton.disabled = false;
            frequencyChart.style.display = "block";
            medianChart.style.display = "none";
            meanChart.style.display = "none";
        });

        $("#medianButton").click(function () {
            frequencyButton.disabled = false;
            medianButton.disabled = true;
            meanButton.disabled = false;
            frequencyChart.style.display = "none";
            medianChart.style.display = "block";
            meanChart.style.display = "none";
        });

        $("#meanButton").click(function () {
            frequencyButton.disabled = false;
            medianButton.disabled = false;
            meanButton.disabled = true;
            frequencyChart.style.display = "none";
            medianChart.style.display = "none";
            meanChart.style.display = "block";
        });
    });

</script>

<style>
    .demo-section {
        text-align: center;
    }

    .box .k-textbox {
        margin: 0;
        width: 80px;
    }
</style>
