@using Microsoft.AspNetCore.Http;
@{
    List<string> details = Context.Session.GetString("listDetails").Split(new char[] { ',' }).ToList();
}
@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

@if (ViewBag.Success != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Success
    </div>
}

<!-- start page  -->


<h4 class="page-title">Home</h4>
@if (!details.Contains("seeAllProcesses"))
{
    <p>Lista de processos</p>
}
@if (!details.Contains("activityFrequency"))
{
    <p>Estatísticas de atividades</p>

}
@if (!details.Contains("resourcesStats"))
{
    <p>Estatísticas de recursos</p>

}
@if (!details.Contains("manageAccess"))
{
    <p>Controlo de acesso</p>
}
@if (!details.Contains("frequencyGraph"))
{
    <p>Grafo freq. desemp.</p>

}
@if (!details.Contains("compareGraphs"))
{
    <p>Grafo conformidade</p>
}
@if (!details.Contains("tagParts"))
{
    <p>tagging</p>
}
@if (!details.Contains("myStatistics"))
{
    <p>My stats</p>
}
@if (!details.Contains("createUsers"))
{
    <p>Criar users</p>
}

<!-- end page  -->
