@{ 
    IEnumerable<String> roles = ViewData["roles"] as IEnumerable<String>;
}
@{
    ViewData["Title"] = "Criar utilizador";
}
@addTagHelper *, Kendo.Mvc





<div class="mx-auto">
    <h4>Criar utilizadores</h4>

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Error
        </div>
    }
    @if (ViewBag.Success != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Success
        </div>
    }
    <form method="post">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" name="username" placeholder="Insere um username" required>
                </div>

            </div>
            <div class="col">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input class="form-control" type="text" name="name" placeholder="Insere um nome" required>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" name="email" required placeholder="Insere um email">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="role">Role</label>
                    <br />
                    <select name="role" class="form-control btn-sm btn-light dropdown-toggle" required>
                        @foreach (String r in roles)
                        {
                            <option value="@r"> @r</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group input-group-merge">
                        <input type="password" name="password" class="form-control" placeholder="Insere uma password">
                        <div class="input-group-append" data-password="false">
                            <div class="input-group-text">
                                <span class="password-eye"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="confirmpassword">Confirmação Password</label>
                    <div class="input-group input-group-merge">
                        <input type="password" name="confirmpassword" class="form-control" placeholder="Confirma password">
                        <div class="input-group-append" data-password="false">
                            <div class="input-group-text">
                                <span class="password-eye"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group mb-0 text-center">
            <button class="btn btn-success btn-block" type="submit"> Criar </button>
        </div>
    </form>
</div>               


<!-- end page -->
<style>
    #fieldlist {
        margin: 0;
        padding: 0;
    }

        #fieldlist li {
            list-style: none;
            padding-bottom: .7em;
            text-align: left;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
        }

        #fieldlist label {
            width: 100%;
            display: block;
            padding-bottom: .3em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    #title {
        width: 100%;
        display: block;
        padding-bottom: .3em;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 30px;
        color: #444;
    }

    .confirm {
        padding-top: 1em;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .k-card {
        width: 300px;
        margin: 5%;
    }

    .k-card-header {
        text-align: center;
    }

    .inputfield {
        width: 300px;
    }

    .alert-danger {
        text-align: center;
    }
</style>




