@{
    IEnumerable<Pmviz_Frontend.Models.Log> allProcesses = ViewData["processes"] as IEnumerable<Pmviz_Frontend.Models.Log>;
}
@using Kendo.Mvc.UI
@{ ViewBag.Title = "All Processes";}

<h4 style="text-align:center">All Processes</h4>
@if (ViewBag.ErrorProcess != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorProcess
    </div>
    <div class="container" style="text-align:center">
        <a href='@Url.Action("Index","Home")' class="btn btn-danger">Go Back</a>
    </div>
}
@if (allProcesses != null)
{
    <div class="container k-content" style="height:auto">
        @(Html.Kendo().Grid(allProcesses)
            .Name("Grid")
            .Columns(columns =>
            {
                columns.Bound(l => l.Name).Title("Name");
                columns.Bound(l => l.Description).Title("Description");
                columns.Command(command => command.Custom("My Statistics").Click("showStats"));

            })
            .Pageable()
            .Navigatable()
            .Sortable()
            .Groupable()
            .Filterable()
            .Scrollable(s => s.Height("auto"))
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                .ServerOperation(false)
             )
            .Resizable(resize => resize.Columns(true))
            .HtmlAttributes(new { style = "width:1000px" })

        )
    </div>


}

<script>

    function showStats(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = '@Url.Action("Process","Statistics")?id=' + dataItem.Id

    }
</script>