@{
    IEnumerable<Pmviz_Frontend.Models.Activity> activities = ViewData["activities"] as IEnumerable<Pmviz_Frontend.Models.Activity>;
    string processId = ViewData["processId"] as string;
}
@{
    ViewData["Title"] = "My Statistics";
}

<h4 style="text-align:center">My Statistics</h4>
@if (ViewBag.ErrorActivity != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorActivity
    </div>
}

<div class="container">
    <form method="post" id="ticketsForm" kendo-validator="true">
        <label for="role" class="required">Choose an activity to see your statistics:</label>
        <br />
        <select name="activity" class="inputfield" required>
            @if (activities != null)
            {
                @foreach (var act in activities)
                {
                    <option value="@act.Id">@act.Name</option>
                }

            }

        </select>
        <button class="k-button k-primary" type="submit">Submit</button>
    </form>
</div>

